#!/usr/bin/env sh

# Configuration
xrdb "$HOME/.Xresources" #load Xresources
feh --no-fehbg --bg-fill "$(cat "$HOME/pic/wall/.currwal")" #restore wallpaper
xset s 120 60 # dim screen after 120s and lock after an additional 60s
xss-lock -n dimscreen -- screenlock &

# Autostart
systemctl --user start autostart.target
