! ~/.Xresources
!

! Transparency (0-1):
*.alpha: 0.92

!! Font settings:
*.font: IBM Plex Mono-13;

Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.dpi: 82

st.termname: st-256color
st.borderpx: 2

!! Set the background, foreground and cursor colors as below:
*.background: #000000
*.foreground: white
*.cursorColor: white
