! ~/.Xresources
!

! Transparency (0-1):
*.alpha: 0.92

!! Font settings:
*.font: IBM Plex Mono-12;

st.termname: st-256color
st.borderpx: 2

!! Set the background, foreground and cursor colors as below:
*.background: #000000
*.foreground: white
*.cursorColor: white
