snippet URG
[Art $1 URG](https://www.admin.ch/opc/de/classified-compilation/19920251/#a$1)
endsnippet

snippet UWG
[Art $1 UWG](https://www.admin.ch/opc/de/classified-compilation/19860391/#a$1)
endsnippet

snippet MschG
[Art. $1 MschG](https://www.admin.ch/opc/de/classified-compilation/19920213/#a$1)
endsnippet

snippet OR
[Art. $1 OR](https://www.admin.ch/opc/de/classified-compilation/19110009/#a$1)
endsnippet

snippet DSG
[Art. $1 DSG](https://www.admin.ch/opc/de/classified-compilation/19920153/#a$1)
endsnippet
