[Desktop Entry]
Comment=Disable/enable display dimming and locking after timeout
Exec=toggle_always_on
GenericName=Toggle always on display
Name=AlwaysOn
Categories=Utility;
StartupNotify=false
Terminal=false
Type=Application
